<h1>Editing Product</h1>
<div class=" col-lg-12 form-space">
<%= render 'form' %>
</div>
<div class="col-lg-12 form-space">
<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
</div>
